* {
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 1em;
}

body{
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.flex-box-wraper-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  left: 0; 
  width: 70%;
   
}

article {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 33.33%;
}



img {
  margin: 0% 0% 11% 34%;
  width: 35%;
}

.bio:hover {
  background-color: rgba(0, 139, 139, 0.57);
}

.bio {
  background-color: #008B8B;
  width: 66.66%; 
}

h3 {
  font-size: 1.5em;
  margin: -7% 63% 5% 0%;
}

p {
   margin: 1% 24% 0% -12%;
}

#flash-people {
  margin: 4% 10% 0% -52%;
}

.contact-btn:hover {
  background-color: #708090;

}

.contact-btn {
  border-color: #FFFFFF;
  border: solid;
  display: inline-block;
  height: 11%;
  margin: 0% 10% 5% 0%;
  padding: 2% 1% 2% 2%;
  width: 25%;
}

.report-card:hover {
  background-color: #708090;
}

.report-card {
  border-color: #FFFFFF;
  border: solid;
  display: inline-block;
  height: 11%;
  margin: 3% 20% 0% 0%;;
  padding: 2% 1% 2% 2%;
  width: 25%;
  }

h6 {
  margin: 0;
}

.bio-icon {
  margin: 0% 0% 2% 40%;
  width: 20%;
}
#bio-text {
  margin: 0% 0% 2% 0%;
}

.protrait:hover {
  background-color: rgba(169, 169, 169, 0.64);
}
.protrait {
  background-color: #A9A9A9;
}

.mirco:hover {
  background-color: rgba(61, 109, 109, 0.81);
}

.mirco {
  background-color: #2F4F4F;
}

.landscapes:hover {
  background-color: rgba(85, 107, 47, 0.7);
}

.landscapes {
  background-color:  #556B2F;
}

.weddings:hover {
  background-color: rgba(128, 128, 0, 0.6);
}
.weddings {
  background-color: #808000;
}

.adventure:hover {
  background-color: rgba(0, 139, 139, 0.57);

}

.adventure {
  background-color: #008B8B;
}

.media:hover {
  background-color: rgba(169, 169, 169, 0.64);
}

.media {
  background-color: #A9A9A9;
}

.rates:hover {
   background-color: rgba(61, 109, 109, 0.81);
 }

.rates {
  background-color: #2F4F4F;
}

.photo-section {
  background-image: url(images/IMG_7673.jpg);
  background-position: 36% 46%;
  background-repeat: no-repeat;
  background-size: cover;
  right:0;
  width: 50%;
}

.three-buttons {
    text-align: end;
    margin: 2%;
  }

#button-one {
  color: #FAEBD7;
}

#button-two {
  color: #FAEBD7;

}

#button-three {
  color:#F08080;
}



.less-then-arrow {
  margin: 22% -4% -68% 7%;
  width: 5vh;
}

.greater-then-arrow {
    margin: 61% 5% 5% 88%;
    width: 5vh;
}

@media screen and (max-width: 625px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .flex-box-wraper-articles {
    width: 100%;
  }

  .photo-section {
    height: 25vh;
    width: 100%;
  }


  
  article {
    background-color: yellow;
    height: 25vh;
    width: 33.33%;
  }

  .bio {
    height: 25vh;
    width: 66.66%   ;
  }

  .contact-btn, 
  .report-card,
  .three-buttons {
    display: none;
  }


  p {
    display: none;
  }


}


@media screen and (max-width: 420px) {

  .main-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
  }

  .flex-box-wraper-articles {
    width: 100%;
  }

  article {
    height: 25vh;
    width: 33.33%;
  }

  .bio {
    height: 25vh;
    width: 66.66%;
  }

  .photo-section {
    background-position: 21% 0%;
    bottom: 0;
    width: 100%;
  }

  h3 {
    font-size: 1.5em;
  }

  .three-buttons {
    text-align: end;
  }
  
  .greater-then-arrow {
    width: 5vh;
    margin: 0% 0% 0% 75%;
  }

  .less-then-arrow {
    width: 5vh;
    margin: 9% 0% 0% 4%;
  }

  .contact-btn, 
  .report-card,
  .three-buttons {
    display: none;
  }

  p {
    display: none;
  }
}
